html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */

}
body {
   background-image: linear-gradient(to top, #e1f5f6, #d9f9ff, #eaf9ff, #f8fbff, #ffffff);
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    min-height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor-m {
width: 12rem;
}
img.contenedor-m {
    position: absolute;
  top: 0;
  left: 0;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.logo{
    font-size: 8rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    text-align: center;
    color: #5CE1E6;
    margin-top: 2px;
    margin-bottom: 1px;
}
.sub-logo{
    font-size: 2.5rem;
    text-align: center;
    color: #0e343e;
    margin-top: -1px;
    font-weight: 800;
}
.logos{
    margin-bottom: 8rem;
    position: relative;
}
.comtainer{

    padding: 40px;
    padding-top: 2rem;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    text-align: center;
}

p{
    font-size: 1.5rem;
    text-align: center;
    color: #3d606a;
    margin-bottom: 3rem;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}
input[type="email"] {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
}
form{
    padding-bottom: 3rem;
}

.boton {
    width: 100%;
    padding: 12px;
    background: #5ce1e6;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.boton:hover {
    background: #49cfd3;
}
.register-text {
    margin-top: 20px;
    font-size: 13px;
    color: #555;
}

.register-text a {
    color: #37d1d9;
    text-decoration: none;
}

.register-text a:hover {
    text-decoration: underline;
}