<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TalkTrack | Registro</title>
    <link rel="stylesheet" th:href="@{/css/Styles.css}">
    <link rel="stylesheet" th:href="@{/usuarios/css/login.css}">
</head>
<body>
    <a th:href="@{/}">
         <img class="contenedor-m" th:src="@{/image/TalkTrack_logo2.1.png}" alt="Logo">
    </a>

    <div class="login-container">
        <div class="login-card">
            <h1 class="logo">Registro de Usuario</h1>

            <form th:action="@{/crear}" method="post" class="formulario" novalidate>
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" placeholder="Tu Nombre" name="nombre">

                <label for="apellido">Apellido</label>
                <input type="text" id="apellido" placeholder="Tu apellido" name="apellido" required>

                <label for="fecha">Fecha de Nacimiento</label>
                <input type="date" id="fecha" name="fecha" required>

                <label for="email">Correo Electronico</label>
                <input type="email" id="email" placeholder="Tu Email" name="email" required>

                <label for="password">Contraseña</label>
                <input type="password" id="password" placeholder="Tu Password" name="password" required>

                <input type="submit" class="boton" value="Crear Cuenta">
            </form>

            <div class="register-text">¿Ya tienes una cuenta?
                <a th:href="@{/}"> Iniciar Sesión</a>
            </div>
        </div>
    </div>
</body>
</html>