{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recuperar contraseña - TalkTrack</title>
    <link rel="stylesheet" href="{% static 'usuarios/css/login.css' %}">
</head>
<body>
    <a href="{% url 'login' %}"><img class="contenedor-m" src="{% static 'image/TalkTrack_logo2.1.png' %}" alt="Logo"></a>
    <div class="login-container">
        <div class="login-card">
            <h1 class="logo">Recuperar contraseña</h1>
            <p>Hemos enviado las instrucciones para confirmar tu cuenta a tu email</p>
        </div>
    </div>
</body>
</html>
